h3{
    text-align: center;
}
body{
    background-color: white;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* .caja{

    border: 2px solid;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: bisque;
    border-radius: 5%;
} */